.joinContainer { 
    text-align: center;
    padding: auto;
    margin: none;
    text-align: center;
}
.joinOuterContainer { 
    text-align: center;
    padding: auto;
}
.joinInnerContainer { 
    text-align: center;
}
.row {
    text-align: center;
}